:root{
--color-primarybr:#4D5AE5;
--color-pressed:#404BBF;
--color-navy:#2E2F42;
--color-text:#434455;
--color-textbg:#FFFFFF;
--color-back:#F4F4FD;
--color-border:#E7E9FC;
}
body{
    color:var(--color-text);
    background-color: var(--color-textbg);
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}
*,*::before,*::after
{
    box-sizing: border-box;}/*почитать !*/
a{
    text-decoration: none;/* убираем подчеркивание*/
}
ul{
    list-style-type: none;/*убираем точки */
    margin:  0;
    padding: 0;
}
p,h1,h2,h3,h4,h5,h6{
    margin:0;
}
.visualy-hidden {
 margin: -1px;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}
.conteiner{
    width: 1752px;
    margin:0 auto;/*центрування блочних элементов*/
    padding: 0 32px;/*відступи справа і зліва 0-вертикальні 32 горизонт*/
}
.section{
    padding: 60px 0;
}
.header{
    padding: 24px 0 24px;
}
.header-inner{
    display: flex;
    justify-content: space-between;/*определяет,
        как браузер распределяет пространство между и вокруг элементов контента вдоль главной оси flex,space-between — расстояния между соседними элементами одинаковые,
            между элементами и краями флекс-контейнера отступов нет*/
            align-items: center;
            gap:76px;
}
.header-nav{
    display:flex;
    align-items: center;
    flex-grow: 1;
}
.header-adress{
    display: flex;
    gap:40px;
}
.adress-list{
    display: flex;
    gap:40px;/*отспут между 2 элементами*/
}
.header-menu {
    display: flex;
    gap:40px;
    flex-grow: 1;/*рост элементов  разрешение для */
    justify-content: center;
}
.logo{
    color:var(--color-primarybr);
    font-family: Raleway,sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;/* размер высоты задаем в процентах 21/18*/
    letter-spacing: 0.54px;/* задается в em rem 0.54/18*/
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.nav-web{
    color:var(--color-navy);
}
.nav-link{
    color:var(--color-navy);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.32px;/* em rem 0.32/16*/
    line-height: 1.5;/*24/16*/
    display: inline-block;
    padding:24px 0 24px;

    
}
.nav-link:hover,
.nav-link:focus{
    color:var(--color-pressed);
}
.nav-adress{
    color:var(--color-text);
}
.nav-adress:hover,
.nav-adress:focus {
    color: var(--color-pressed);
}
.adress-standart{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;/*24/16*/
    letter-spacing: 0.32px;
    font-style: normal;
}
.hero-inner{
    padding:188px 472px 292px;
    background-color:var(--color-navy);
}

.hero-title{
    width: 496px;/*максимальная ширина*/
    color:var(--color-textbg);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;/*60/56*/
    letter-spacing: 1.12px;
    text-align: center;
    margin-bottom: 38px;/*растояние между заголовком и кнопкой*/
    margin:0 auto;/*текс по средине*/
    
}
.hero-button-inner{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 48px;
    gap:10px;
}
.hero-button{
    color:var(--color-textbg);
    font-size: 16px;
    background-color:var(--color-primarybr);
    border: 0;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;/*24/16*/
    letter-spacing: 0.64px;
    padding: 16px 32px;

    

}
.hero-button:hover,
.hero-button:focus{
    color:var(--color-textbg);
    background-color:var(--color-pressed);
}
.section-goals{
    display: flex;
    padding: 120px 156px;
}
.goals-inner-list{
display: flex;
gap:24px;
}
.goals-inner-element{
    display: flex;
    gap:8px;
    flex-direction: column;
    border-radius: 0px 0px 4px 4px;
}

.headline{
    color:var(--color-navy);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;/*24/20*/
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}
.goals-text{
    color:var(--color-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;/*24/16*/
    letter-spacing: 0.32px;
}
.section-team{
    background-color:var(--color-back);
    display:flex;
    padding: 120px 156px;
}
.team{
    color:var(--color-navy);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;/*40/36*/
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
   
}
.team-card-list{
    display:flex;
    gap:24px;
}
.team-card{/* У пункті списку в класі задано стиль background-color: #FFFFFF для визначення фону*/
    background-color: var(--color-textbg);
    display: flex;
    width: 264px;
    flex-direction: column;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.team-card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}
.name-team{
color:var(--color-navy);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.4px;
text-align: center;
}
.text-team{
    color:var(--color-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.section-portfolio{
    color:var(--color-textbg);
    display: flex;
    padding: 120px 156px;
}
.our-portfolio{
    color:var(--color-navy);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.our-porffolio-list{
    gap: 24px;
}
.row-one{
    display: flex;
    gap:24px;
    margin-bottom: 48px;

}
.row-two {
    display: flex;
    gap: 24px;

}
.portfolio-list{
    background-color:var(--color-textbg);
    width: 360px;
    border:1px solid var(--color-border);
}
.portfolio-text{
    display: flex;
    flex-direction: column;
    padding:32px 16px;
    gap: 8px;

}
.function{
    color:var(--color-navy);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.function-text{
    color:var(--color-text);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
.footer{
    background-color:var(--color-navy);
    width: 1440px;
}
.footer-element{
    display: flex;
    flex-direction: column;
    padding: 100px 1020px 100px 156px;
    gap: 16px;
}
.f-studio{
    color: var(--color-back);

}
.f-logo{
    font-family: Raleway,sans-serif;
    color:var(--color-primarybr);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.54px;
}
.f-text{
    color:var(--color-back);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
}